{% extends 'naloge/task_base.html' %}
{% load static %}
{% load dict_lookup %}

{% block content %}
	<h1>{{ task.display_name }}</h1>
	{% for q in task.questions.all %}
		<p>{{ q.vpr }}</p>
		{% with tip=result|dict_lookup:q.id|dict_lookup:"tip" uradni=result|dict_lookup:q.id|dict_lookup:"uradni" %}
			{% if tip == 'tvojpravilni' %}
				<div class="odgbox"><span class="poudarjeno">Bravo, na vprašanje si izbral pravilni odgovor: </span>
					<span class="pravilno">{{ uradni }}</span>
				</div>
			{% elif tip == 'uradnitvoj' %}
				<div class="odgbox"><span class="poudarjeno">Pravilni odgovor je:</span>
					<span class="uradno">{{ uradni }}</span>
				</div>
				<div class="odgbox"><span class="poudarjeno">Ti pa si odgovoril z:</span>
					<span class="narobe">{{ result|dict_lookup:q.id|dict_lookup:"tvoj" }}</span>
				</div>
			{% else %}
				<div class="odgbox"><span class="poudarjeno">Pravilni odgovor je:</span>
					<span class="uradno">{{ uradni }}</span>
				</div>
			{% endif %}
			<br/>
			<br/>
		{% endwith %}
	{% endfor %}
{% endblock content %}
