{% extends 'naloge/task_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Krvavitve</h3>
		<p> Izberite pravilno zaporedje za oskrbe krvavitve. Možni koraki so prikazani na slikah spodaj. Nekaj slik je odveč.</p>
		<form method="post">
			{% csrf_token %}

			<div class=grid>
				<div class=row>
					<div class=column >
						 <img src="{% static 'img/images/krvavitev_A.jpg' %}">
						<br>
						<br>
						 <p> {{ form.optsA }} </p>
					</div>
					<div class=column >
						 <img src="{% static 'img/images/krvavitev_B.jpg' %}">
						<br>
						<br>
						 <p> {{ form.optsB }} </p>
					</div>
				</div>
				<div class=row>
					<div class=column >
						 <img src="{% static 'img/images/krvavitev_C.jpg' %}">
						<br>
						<br>
						 <p> {{ form.optsC }} </p>
					</div>
					<div class=column >
						 <img src="{% static 'img/images/krvavitev_D.jpg' %}">
						<br>
						<br>
						 <p> {{ form.optsD }} </p>
					</div>
				</div>
				<div class=row>
					<div class=column >
						 <img src="{% static 'img/images/krvavitev_I.jpg' %}">
						<br>
						<br>
						 <p> {{ form.optsE }} </p>
					</div>
					<div class=column >
						 <img src="{% static 'img/images/krvavitev_F.jpg' %}">
						<br>
						<br>
						 <p> {{ form.optsF }} </p>
					</div>
				</div>
				<div class=row>
					<div class=column >
						 <img src="{% static 'img/images/krvavitev_G.jpg' %}">
						<br>
						<br>
						 <p> {{ form.optsG }} </p>
					</div>
					<div class=column >
						 <img src="{% static 'img/images/krvavitev_H.jpg' %}">
						<br>
						<br>
						 <p> {{ form.optsH }} </p>
					</div>
				</div>
			</div>
			<br>
			<input type="submit" value="Preveri rešitev">
		</form>
	</div>
{% endblock %}
