{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Zadušitev</h3>
		<p>Če ima oseba težavo pri dihanju, kašlja ali pa ne more govoriti, je to lahko znak dušenja.</p>
		<p>Vsakemu se je že kdaj zaletelo. Takrat začnemo kašljati, vendar lahko še vedno govorimo. V tem primeru osebo <b>spodbujaj h kašlju</b>, saj je to najboljši način, da si odpreš dihalne poti.</p>
		<p>Kadar pa se oseba ne more ne kašljati ne govoriti, govorimo o dušenju, ki je življenje ogrožajoče stanje. V tem primeru lahko pomagaš tako, da osebo najprej <b>petkrat močno udariš po hrbtu med lopaticama</b>. Če to ne pomaga, petkrat izvedeš Heimlichov prijem (glej sliko/video). Ta postopek ponavljaš, dokler oseba ne začne dihati. Če to ne uspe ter oseba pade v nezavest in neha dihati, pokliči 112 in začni z oživljanjem, o katerem boš več izvedel_a na enem izmed preostalih KT-jev.</p>
	  <img src="{% static 'img/images/zadusitev1.png' %}">
	</div>
{% endblock %}
