{% extends 'naloge/task_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>{{task.display_name}}</h3>
		<p> Pred vami je besedilo, v katerem manjka 14 besed. Dopolnite ga z naslednjimi besedami. Tri od naštetih besed so odveč.</p>
		<p><b>mrežico, svetilo, hladno vodo, 30 minut, prevelik, sladoled, Sonce, prevroč, opekel zaradi trenja, 15 minut, zažganem, topli čaj, osmodil, šoku, zardel, pustil počivati, ožganega</b></p>
		<form method=post>
			{% csrf_token %}
			<p>
			Jakob je imel prejšnjo sredo pravo odisejado! Zjutraj ga je zbudilo
			<span style="display: inline-block;">{{ form.zgf1 }}</span> ki mu je že nekaj ur močno <span style="display:inline-block;">{{ form.zgf2 }}</span> v obraz. Ugotovil je, da se je
			zbudil 1 uro prepozno in da že zdavnaj zamuja v šolo. Kakor se da hitro
			se je oblekel in si ob natikanju hlač močno <span style="display:inline-block;">{{ form.zgf3 }}</span> od hlačnice. V
			kopalnici je med umivanjem zob opazil, kako rdeč je v obraz zaradi
			Sonca, vendar se za to ni zmenil in se odpravil v kuhinjo. Ob delanju
			kave je po pomoti brez prijemalke dvignil čajnik poln vroče vode. V <span style="display:inline-block;">{{ form.zgf4 }}</span>
			od vročine se mu je vsa voda razlila po tleh in po njegovih bosih
			stopalih. V kriku je odhitel v kopalnico pod mrzel tuš in si z <span style="display:inline-block;">{{ form.zgf5 }}</span>
			spiral stopala <span style="display:inline-block;">{{ form.zgf6 }}</span>. Ko mu je odleglo je v bolj umirjenem tempu pojedel
			zajtrk in se odpravil od doma. Ker si stopal ni povil z <span style="display:inline-block;">{{ form.zgf7 }}</span> in gazo so
			ga ta začela vse bolj boleti. V šolo je zamudil 30 minut in učiteljica
			športne vzgoje mu zato ni dovolila igrati odbojke. Jakobu je bilo to
			všeč, saj je svoje noge raje <span style="display:inline-block;">{{ form.zgf8 }}</span>. Naslednjo uro je imel krožek
			spajkanja, kjer si je z vročim Cinom <span style="display:inline-block;">{{ form.zgf9 }}</span> pramen svojih dolgih las. Še
			cel dan je zaudarjal po <span style="display:inline-block;">{{ form.zgf10 }}</span>. Pri kosilu si je v usta dal <span style="display:inline-block;">{{ form.zgf11 }}</span> kos mesa
			in sošolci so skoraj umrli od smeha, ker je izgledal kot da ima celo
			pomarančo v ustih. Preostanka kosila ni pojedel, saj zaradi <span style="display:inline-block;">{{ form.zgf12 }}</span> jezika
			ni okušal več nič. Popoldne je imel zmenek s punco, ki je bila
			prepričana, da je Jakob <span style="display:inline-block;">{{ form.zgf13 }}</span> zaradi svojih ožganih las. Ona je jedla
			limonino torto, njemu pa je se je bolj prilegel <span style="display:inline-block;">{{ form.zgf14 }}</span>
			</p>
			<input type="submit" value="Preveri rešitev">
		</form>
	</div>
{% endblock %}
