{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Položaj za nezavestnega</h3>
		<p>Če najdeš osebo, ki se <b>ne odziva</b> in je ne moreš zbuditi,
		potrebuje tvojo pomoč. Najprej zakliči “Na pomoč!”, nato preveri, ali
		oseba <b>normalno diha:</b> osebo obrni na hrbet, glavo nagni karseda
		nazaj in poslušaj dihanje, hkrati glej prsni koš in čuti izdih.
		<br>
		<br>
		<img src="{% static 'img/images/polozaj_nezavestnega1.png' %}">
		</p>
		<br>
		<p>
		Če diha, ji najbolje pomagaš tako, da jo daš v
		<b>položaj za nezavestnega</b> (glej sliko/video spodaj) in <b>TAKOJ
		pokličeš 112</b>. Do prihoda reševalcev redno <b>spremljaj, ali še
	diha</b>.</p>
		<p>Če oseba ne diha, bo potrebno oživljanje. O tem boš več izvedel_a na
		enem od preostalih KT-jev.
		<br><br>
		<!--<p><a href="https://www.youtube.com/watch?v=TRQePNmR66w">Video</a></p>-->
    <img src="{% static 'img/images/polozaj_nezavestnega2.png' %}">
	</p>
	</div>
{% endblock %}
