{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Opekline</h3>
		<p>Če se nekdo v tvoji bližini opeče, je najpomembnejše, da odstraniš to, s čimer se je opekel in opečen del telesa čimprej začneš hladiti. Dokler opeklina peče, jo <b>hladiš s tekočo mrzlo vodo</b>. Na opeklino <b>NIKOLI ne dajaj ledu in krem</b>.</p>
		<p>Ko opeklina ne peče več, nanjo položi mrežico za opekline in gazo, nato pa vse skupaj še povij s povojem.</p>
		<p>Pri hudih opeklinah je potreben obisk zdravnika.</p>
	</div>
{% endblock %}
