{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Zlomi in zvini</h3>
		<p>Zlome in zvine prepoznamo po:</p>
		<ol>
			<li>bolečini,</li>
			<li>spremenjeni obliki poškodovanega dela telesa,</li>
			<li>oteklini in podplutbi (modrici),</li>
			<li>omejeni gibljivosti.</li>
		</ol>
		<p>Pomagaš tako, da poškodovani del telesa <b>hladiš</b> in ga <b>ne premikaš</b>. Premikanje preprečiš tako, da poškodovani del telesa privežeš ob oporo (opornico, roko ob trup, nogo ob drugo nogo).</p>
		<p><b>POMEMBNO!</b>Najbolj nevarna izmed takih poškodb je <b>poškodba hrbtenice</b>. Nanjo pomisli vedno, kadar je poškodovani <b>padel z velike višine ali doživel prometno nesrečo</b>. V tem primeru je <b>NUJNO</b>, da osebe <b>NE PREMIKAŠ</b>! Premikanje lahko stanje zelo poslabša, saj lahko oseba pristane na invalidskem vozičku ali celo umre.</p>
		<p>Edina izjema, kjer osebo s poškodbo hrbetnice moraš premakniti, je, kadar je v življenjski nevarnosti (požar, oseba ne diha …).</p>
	</div>
{% endblock %}
