{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Klic na 112</h3>
		<p>Na številko 112 pokličeš, kadar nekdo potrebuje pomoč reševalnih enot, gasilcev ali policije.
		Ob klicu te bo operater na drugi strani linije vprašal:</p>
		<ol>
			<li><b>KDO</b> kliče,</li>
			<li><b>KAJ</b> se je zgodilo,</li>
			<li><b>KJE</b> se je zgodilo,</li>
			<li><b>KDAJ</b> se je zgodilo,</li>
			<li><b>ŠTEVILO in STANJE</b> ponesrečencev,</li>
			<li><b>OKOLIŠČINE</b> nesreče (morebitne še preteče nevarnosti, npr. prometna cesta, požar ipd.).</li>
		</ol>
		<p>
		<h5>Pomembno:</h5>
		<ul>
			<li>Operater na drugi strani linije te bo prevezal ustreznim službam, zato boš moral informacije ponoviti večkrat.</li>
			<li>Klica nikoli ne prekini sam, temveč počakaj, dokler ga ne prekine operater ali zdravnik.</li>
			<li>Nekdo od prisotnih naj vedno ostane ob poškodovancu, ostali pa lahko olajšate prihod reševalnim ekipam (usmerite reševalce do poškodovanca, odprete vrata, zaprete domače živali in podobno).</li>
			<li>Številka 112 deluje v večini držav po svetu, zato jo lahko pokličeš tudi v tujini.</li>
		</ul>
		</p>
	</div>
{% endblock %}
{% block title %}
Naloga Klic - Od srca do srca
{% endblock %}
