{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Huda alergijska reakcija</h3>
		<p>Alergije večinoma niso nevarne. Pri ljudeh s hudo alergijo pa lahko stik s snovjo, na katero so alergični, vodi tudi do življenje ogrožajočega stanja.</p>
		<p>Hudo alergijsko reakcijo prepoznaš po tem, da se pri osebi poleg znakov, ki se pojavljajo ponavadi (izpuščaji in srbenje, smrkanje in kihanje, solzenje) pojavi tudi oteženo dihanje, prebavne težave ali nezavest.</p>
		<p>V taki situaciji je pomembno, da ukrepaš hitro. Najprej odstrani stvar, na katero je oseba alergična. Ponavadi ima oseba, ki je zelo alergična, pri sebi Epipen.</p>

		<ol>
			<li>Odstraniš moder zamašek.</li>
			<li>Epipen primeš s celo dlanjo (kot je prikazano na sliki).</li>
			<li>Z oranžnim koncem ga kar čez hlače “zapičiš” na zunanjo stran stegna (kot je prikazano na sliki) in ga držiš pri miru 10 sekund.</li>
			<li>V vsakem primeru <b>pokličeš 112</b> - tudi, če se oseba počuti bolje.</li>
		</ol>
			<div class="grid">
				<div class=column>
					<img sytle="margin:auto;" src={% static 'img/images/epi1.png' %}>
				</div>
				<div class=column>
					<img style="margin:auto;max-height:300px;" src={% static 'img/images/epi2.png' %}>
				</div>
			</div>
	</div>
{% endblock %}
