{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Omrzline</h3>
		<p>Omrzline nastanejo, kadar smo predolgo na mrazu, še posebej pa, če smo pri tem še premočeni. Najpogosteje nastanejo na prstih rok ali nog. Omrzli prsti so bledi in jih težje premikamo, če so ozebline hude, lahko nastanejo tudi mehurji.</p>
		<p>Če se ti to zgodi, je najpomembneje, da greš čimprej na toplo in suho. Ozeble prste segrevaj v topli vodi, <b>NIKOLI na radiatorju ali ob ognju!</b></p>
	</div>
{% endblock %}
