{% extends 'naloge/task_base.html' %}
{% load static %}
{% load dict_lookup %}

{% block title %}{{ block.super }} | Imobilizacija{% endblock title %}

{% block content %}
	<h1>{{ task.display_name }}</h1>
	{% for q in task.questions.all %}
		<p>{{ q.vpr }}</p>
		{% with tip=result|dict_lookup:q.id|dict_lookup:"tip" uradni=result|dict_lookup:q.id|dict_lookup:"uradni" %}
			{% if tip == 'tvojpravilni' %}
				<div class="poudarjeno">Bravo, na vprašanje si izbral pravilni odgovor: </div>
				<div class="pravilno">{{ uradni }}</div>
			{% elif tip == 'uradnitvoj' %}
				<div class="poudarjeno">Pravilni odgovor je:</div>
				<div>{{ uradni }}</div>
				<div class="poudarjeno">Ti pa si odgovoril z: </div>
				<div class="narobe">{{ result|dict_lookup:q.id|dict_lookup:"tvoj" }}</div>
			{% else %}
				<div class="poudarjeno">Pravilni odgovor je:</div>
				<div>{{ uradni }}</div>
			{% endif %}
			<br/>
		{% endwith %}
	{% endfor %}
{% endblock content %}
