{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Krvavitve</h3>
		<p>Če oseba močno krvavi (kri šprica iz rane), ji najbolje pomagaš tako, da krvavitev karseda hitro zaustaviš.</p>
		<ol>
			<li><b>Močno pritisni na rano.</b></li>
			<li>Rano sterilno <b>prekrij z gazo</b> in okrog nje nekajkrat zavij povoj, da jo pričvrstiš.</li>
			<li>Na gazo <b>pritisni trd predmet</b> (najbolje kak dodaten povoj, če je na voljo), ki mora biti daljši od rane, da jo v celoti prekrije. Predmet s povojem trdno pričvrsti na gazo.</li>
			<li><b>Prevezan ud dvigni in pričvrsti, da se ne premika.</b></li>
			<li>Če je obveza premočno zategnjena in prevezan ud postaja hladnejši/toplejši ali spreminja barvo, jo povij rahleje. Če je zategnjena premalo in kri še naprej teče iz rane, dodaj še kak dodaten predmet za pritisk. Če kljub temu prekrvavi, jo odstrani in obnovi v celoti.</li>
		</ol>
	</div>
{% endblock %}
