{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Rane in okužbe ran</h3>
		<h5>Rane - zunanje krvavitve</h5>
		<p>Odprte rane imajo lahko dve nevarni posledici: izgubo krvi in okužbo.</p>
		<ol>
			<li>Preprečevanje okužbe: 
			  <ul>
			    <li><b>Površinske rane ter ugriznine</b> speri s čisto vodo, slednje tudi z milom. Globokih ran ne spiraj. Če globlja rana pride v stik z umazanijo, ranjenca pelji k zdravniku, ki bo poškodovanca zaščitil pred <b>tetanusom</b>.</li>
			    <li>Na rano daj <b>sterilno gazo</b> in jo povij.</li>
			  </ul>
			</li>
			<li>Zaustavljanje krvavitve:
			  <ul>
			    <li>Pri globljih ranah krvavitev ustavi s <b>pritiskom</b> na žilo nad rano (pod pazduho, v prepogibu noge) ali s pritiskom direktno na rano. Povij s <b>kompresijsko prevezo</b> (glej spodaj). Ud imobiliziraj in <b>preverjaj barvo, gibljivost in občutljivost</b> poškodovanega uda, da vidiš, ali si obvezo primerno zategnil. Poškodovanca pomiri in poleži ali posedi. Če je le možno, <b>dvigni</b> poškodovani ud nad nivo srca in poskrbi, da se ne premika.</li>
			    <li>Če je obveza premočno zategnjena (kot lahko vidiš na sliki spodaj desno), jo povij rahleje. Če je zategnjena premalo, dodaj še kak dodaten predmet za pritisk. Če kljub temu prekrvavi, jo odstrani in obnovi v celoti.</li>
			  </ul>
			</li>
		</ol>
		<br>
		<img src="{% static 'img/images_obv/rane1.jpg' %}">
		<br>
		<p>V skrajnem primeru <b>amputacije</b> uda naredi Esmarchovo prevezo (glej spodaj) in si zapiši čas, ko si jo zategnil. Krn sterilno povij, da ne pride do okužbe. Odtrgan ud zapakiraj v vrečko, ki jo daj v vodo z ledom in odpelji zraven k zdravniku.</p>
		<br>
		<img src="{% static 'img/images_obv/rane2.png' %}">
		<br>
		<p>Če je v rano zapičen <b>tujek, ga ne izvleci</b>. Kadar tujek tiči v žili, jo s tem tudi maši; če ga odstraniš, lahko s tem povzročiš hudo krvavitev. Sterilno obvezo namesti okrog tujka tako, da ga stabiliziraš, in ranjenca pelji k zdravniku.</p>
		<h5>Notranje krvavitve in šok</h5>
		<p>Notranje krvavitve so nevarne, saj lahko vodijo v šok (stanje, ko srce ne zmore dovajati krvi organom in ti zato odpovedujejo). Pogosto jih je težko prepoznati, zato nanje <b>nujno pomisli pri topih udarcih, padcih, prometnih nesrečah, vbodnih ranah in zlomih večjih kosti</b> (reber, medenice in stegnenice). </p>
		<p>Simptomi notranjih krvavitev in šoka so si lahko zelo podobni:</p>
		<ul>
			<li>slabost, utrujenost, žeja, omedlevica, nemir,</li>
			<li>bleda, hladna, potna koža, </li>
			<li>pospešen utrip, hitro in plitko dihanje,</li>
			<li>v primeru notranjih krvavitev v trebušno votlino pri prvem pregledu začutiš trd trebuh in lahko vidiš modrice.</li>
		</ul>
		<p><b>Prva pomoč</b>: če gre za zunanjo krvavitev, jo ustaviš. Bolnika namestiš v položaj za šok. </p>
	</div>
{% endblock %}
