{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Obolenja</h3>
		
		<h5>Akutni koronarni sindrom</h5>
		<p>Akutni koronarni sindrom (AKS) je splošno ime za skupino bolezenskih stanj, do katerih pride zaradi ovirane preskrbe srčne mišice s kisikom in hranili. Najbolj usodna oblika AKS je srčna kap oz. srčni infarkt.</p>
		<img src="{% static 'img/images/obolenja1.png' %}">
		<p><b>Prva pomoč</b></p>
		<ol>
			<li>Klic na 112.</li>
			<li>Bolnika posedi v polsedeči položaj in pomiri.</li>
			<li>Razpri ozka oblačila.</li>
			<li>Daš lahko 2 zdravili:
			  <ol>
			    <li>Če gre za osebo, starejšo od 12 let, in si prepričan, da ni alergična na <b>aspirin</b> (acetilsalicilno kislino), daj 250 mg (polovička 500 mg tabletke).</li>
			    <li>Če gre za srčnega bolnika, ki ima pri sebi pršilo <b>Nitrolingual</b> (nitroglicerin), mu ga 1- krat razpršiš pod jezik. To lahko ponoviš vsakih 5 min.</li>
		    </ol>
			</li>
		</ol>
		
		<h5>Možganska kap</h5>
		<p>Pri učenju značilnih znakov in simptomov možganske kapi nam je lahko v pomoč kratica GROM</p>
    <img src="{% static 'img/images/obolenja2.png' %}">
    <p><b>Prva pomoč</b></p>
		<ol>
			<li><b>TAKOJ pokliči 112 in si zapiši čas pojava znakov.</b></li>
			<li>Če je prizadeti pri zavesti, ga udobno namesti z dvignjenim zgornjim delom telesa.</li>
			<li>Razrahljaj obleko, ovratnik, pasove. Če ima protezo, jo odstrani.</li>
			<li><b>Zdravil pri sumu na možgansko kap NE dajaj!</b></li>
		</ol>
		
		<h5>Epileptični napad</h5>
		<p>Epileptični napad je izbruh nenadzorovane možganske aktivnosti, med katerim slednji nepravilno in prekomerno delujejo. Kaže se na različne načine; najbolj značilni simptomi so prikazani na spodnji sliki.</p>
		<img src="{% static 'img/images/obolenja3.png' %}">
		<p><b>Prva pomoč</b>: Napada brez zdravil ne moreš preprečiti ali ustaviti.</p>
		<ol>
			<li>Iz bolnikove bližine <b>odstrani vse predmete, ki bi ga lahko med napadom poškodovali</b>. Glavo podpri z mehko in ravno podlago.</li>
			<li>Odpni ovratnik srajce in pas na hlačah, odveži kravato ali ruto.</li>
			<li>Ko napad mine in bolnik še ni pri zavesti, ga namesti v položaj za nezavestnega in poskrbi, da se ne duši.</li>
			<li><b>Strokovno pomoč pokliči, če gre za bolnikov prvi napad in kadar napad traja več kot 5 minut</b>. Če gre za bolnika z znano epilepsijo in je napad kratek, zdravniška pomoč ni potrebna.</li>
		</ol>
		
		<h5>Hipoglikemija</h5>
		<p>Hipoglikemija je življenje ogrožajoče stanje, ko pade koncentracija krvnega sladkorja močno pod normalno vrednost. Pojavlja se pri sladkornih bolnikih, ki imajo okvarjeno regulacijo krvnega sladkorja. Če ob pojavu simptomov ne ukrepamo dovolj hitro, lahko oseba izgubi zavest in umre.</p>
		<img src="{% static 'img/images/obolenja4.png' %}">
		<p><b>Prva pomoč</b></p>
		<ul>
			<li>Če je oseba pri zavesti: naj zaužije nekaj hrane, najbolje nekaj sladkega ali vsaj nekaj ogljikovih hidratov.</li>
			<li>Če je oseba v nezavesti: stabilni bočni položaj, klic 112, dlesni lahko namažeš s sladko raztopino ali medom.</li>
		</ul>
		
		<h5>Poslabšanje astme</h5>
		<p>Značilni znaki in simptomi:</p>
		<ul>
			<li>kašelj</li>
			<li>občutek dušenja, tiščanje v prsnem košu, sopihanje,</li>
			<li>piskajoč zvok ob izdihu,</li>
			<li>nemir, strah, znojenje.</li>
		</ul>
		<p><b>Prva pomoč</b></p>
		<ol>
			<li>Prizadetega pomiri. Naroči mu, naj z vzravnanim zgornjim delom telesa (v polsedečem ali stoječem položaju) mirno diha. Včasih mu pomaga, če se opre na roke in s tem aktivira pomožne dihalne mišice.</li>
			<li>V kolikor ima bolnik zdravila za astmo, mu jih pomagaj vzeti. Bodi pozoren na to, da bolnik med tem, ko si v usta prši zdravilo, vdihuje in nato zadrži sapo, da zdravilo ostane v pljučih.</li>
			<li>Če je občutek dušenja hud ali se ne umiri, poskrbi za zdravniško oskrbo. </li>
		</ol>
	</div>
{% endblock %}
