{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Poškodbe zaradi mraza</h3>
		<p>Pomembno je, da je človeku, ki je prizadet zaradi mraza, celostno toplo. Poskrbi, da ima prizadeti oblečena suha in topla oblačila ter da je na toplem in v zavetrju.</p>
		<p>Dokler je prizadeti pri zavesti in drgeta, ga spodbujaj, da se giba in po požirkih pije tople in sladke napitke, da se pogreje. Če je prizadeti zaspan in otopel, gibanja ne spodbujaj več, temveč ga aktivno ogrevaj z nečim toplim. V primeru nezavesti ali prenehanja dihanja ustrezno ukrepaj.</p>
		<p><b>Ozeblih ali omrzlih delov telesa nikoli ne segrevaj ob radiatorju, temveč vedno v topli vodi!</b></p>
			<img src="{% static 'img/images/mraz1.png' %}">
	    <img src="{% static 'img/images/mraz2.png' %}">
	</div>
{% endblock %}
