{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Alergije</h3>
		<p>Če je alergija huda, se lahko pri osebi po stiku z alergenom (pik žuželke, zaužita hrana, zdravila ...) razvije anafilaktični šok, ki je življenje ogrožajoča reakcija. Pri njej se poleg običajnih znakov alergijske reakcije pojavita tudi <b>oteženo dihanje ali slabost</b>.</p>
		<p>Prva pomoč:</p>
		<ol>
			<li><b>Prekineš stik bolnika z alergenom.</b></li>
			<li>Položaj: za šok, 
			   <ul>
			    <li>če je nezavesten 🡪 stabilni bočni položaj, </li>
			    <li>če ne diha 🡪 TPO.</li>
			   </ul>
			</li>
			<li>Če ima bolnik znano hudo alergijo in ima pri sebi <b>Epipen</b>, ga nujno uporabi:
			  <ol>
			    <li>Odstrani moder zamašek.</li>
			    <li>Epipen primi s celo dlanjo (kot je prikazano na sliki).</li>
			    <li>Z oranžnim koncem ga kar čez hlače “zapiči” na zunanjo stran stegna (kot je prikazano na sliki) in ga drži pri miru 10 sekund.</li>
			    <li><b>V vsakem primeru pokliči 112</b> - tudi, če se oseba počuti bolje. </li>
			  </ol>
			</li>
		</ol>
	</div>
{% endblock %}
