{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Pristop k nenadno prizadeti osebi</h3>
		<p>Pomembno! V primeru suma na poškodbo hrbtenice (padci z višine, prometne nesreče) poškodovanca NE premikaj, razen v primeru reševanja življenja.</p>
		<p>V kolikor poškodovani potrebuje prevoz k zdravniku, mu ne smeš dat za jest in pit, ker je eden od pogojev za anestezijo (uspavanje npr. v primeru operacije ali naravnavanja kosti) prazen želodec.</p>
		<p>Klic na 112: </p>
		<ul>
			<li>Številka 112 deluje tudi v tujini.</li>
			<li>Operater te bo vodil skozi vprašanja po sledečih informacijah: kdo kliče, kje se nahajaš, kdaj in kaj se je zgodilo, število in stanje poškodovancev, trenutne okoliščine na kraju nesreče.</li>
			<li>Po vezavi iz klicnega centra ustrezni službi boš moral informacije ponoviti vsaj še enkrat.</li>
			<li>Klica nikoli ne prekini sam! Počakaj, da prekine operater/zdravnik.</li>
			<li>Tudi po klicu vedno nekdo ostane ob poškodovancu.</li>
		</ul>
	</div>
{% endblock %}
