{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Zapora dihalne poti</h3>
		<p>Dokler oseba lahko govori in kašlja, <b>spodbujaj kašljanje</b>. Ko govoriti in kašljati ne more več, izvajaj <b>izmenično 5 udarcev med lopatici in 5 Heimlichovih prijemov</b>. Če oseba preneha dihati, začni s temeljnimi postopki oživljanja.</p>
		<p><i>Heimlichov prijem</i>: postavi se za osebo, ki se duši. Roke skleni pod njeno žličko tako, da z eno dlanjo narediš pest, ki jo objameš z drugo dlanjo. Izvedi močan sunek v smeri proti sebi in navzgor.</p>
		<p><img src="{% static 'img/images/zapora1.jpg' %}"></p>
		<!--
		<p>Izvajanje udarcev med lopatici in stisov namesto Heimlichovega prijema pri dojenčku:</p>
		<img src="{% static 'img/images/zapora2.png' %}">
		-->
	</div>
{% endblock %}
