{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Klic na 112</h3>
		<p>Temeljne postopke oživljanja izvajamo pri osebi, ki <b>se ne odziva in ne diha</b>.</p>
		<p>Preverjanje dihanja: osebo obrni na hrbet, glavo nagni nazaj in poslušaj dihanje, hkrati glej prsni koš in čuti izdih.</p>
		<img src="{% static 'img/images/ozivljanje1.png' %}">
		<p>Izjema pri izvajanju TPO: vsi, pri katerih sumiš na odpoved srca zaradi zadušitve (utopljenci, otroci in dojenčki): 5 vpihov na začetku, nato izmenično 30 stisov in 2 vpiha.</p>
		<p>Izvajanje stisov in vpihov: </p>
		<img src="{% static 'img/images/ozivljanje2.png' %}"><img src="{% static 'img/images/ozivljanje3.png' %}">
		<p>AED (avtomatski eksterni defibrilator) je naprava, ki te vodi skozi oživljanje in lahko pomaga pri ponovni aktivaciji srca z elektrošokom. Če ne veš, kje je na voljo najbližji, povprašaj na 112. Če ti ga lahko kdo prinese, je tvoja edina naloga, da ubogaš njegova navodila. <b>Če si sam, ne izgubljaj časa z iskanjem AED-ja, najpomembneje je, da čimprej začneš s stisi prsnega koša!</b></p>
		<p><a href="https://www.youtube.com/watch?v=cg6CTCRluyw ">Video</a></p>
	</div>
{% endblock %}
