{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Položaji</h3>
		<p>V primeru, da je poškodovani nezavesten (se ne odziva, a normalno diha), ga namesti v <b>položaj za nezavestnega</b>, v katerem ima odprto dihalno pot, da lahko diha.</p>
		<img src="{% static 'img/images_obv/polozaji1.png' %}">
		<p>Preverjanje dihanja: osebo obrni na hrbet, glavo nagni nazaj in poslušaj dihanje, hkrati glej prsni koš in čuti izdih.</p>
		<img src="{% static 'img/images/ozivljanje1.png' %}">
		<p>V primeru, da je poškodovani v šoku - bled, poten, diha hitro, lahko je izgubil veliko krvi - ga namesti v <b>položaj za šok</b>, ki poskrbi za to, da se čim več krvi zbere v njegovem trupu in glavi, kjer se nahajajo življenjsko pomembni organi.</p>
		<img src="{% static 'img/images_obv/polozaji2.jpg' %}">
		<p>V vseh ostalih primerih poškodovanega namesti v položaj, ki mu najbolj ustreza, kar je ponavadi:</p>
		<ul>
			<li>polsedeč pri poškodbah ali boleznih v prsnem košu,</li>
			<li>ležeč z dvignjeno glavo in pokrčenimi koleni pri poškodbah in boleznih v trebuhu.</li>
		</ul>
	</div>
{% endblock %}
