{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Poškodbe kosti in sklepov</h3>
		<p>Ukrepe prve pomoči v primeru poškodb kosti in sklepov si najlažje zapomniš s kratico PLOD</p>
		<p><b>P – počitek:</b> poškodovani ud mora mirovati. V ta namen ud imobiliziraj. <b>Fiksiraj oba sosednja sklepa</b> (nad in pod poškodbo), da se poškodovani del telesa zagotovo ne more premikati. Roko najbolj stabilno privežeš ob trup, nogo pa ob drugo nogo (izjema je poškodba gležnja).</p>
		<p><b>L – led:</b> s hlajenjem preprečuješ nastanek otekline in blažiš bolečino. Če hladiš z nečim zelo mrzlim (npr. z ledom), slednjega nikoli ne polagaj neposredno na kožo, temveč hladi prek tkanine, da ne pride do poškodb zaradi mraza.</p>
		<p><b>O – obveza:</b> tesna obveza pomaga pri zmanjševanju otekline.</p>
		<p><b>D – dvig:</b> dvig prizadetega uda nad nivo srca pomaga pri zmanjševanju otekline.</p>
		<p>Angleška alternativa PLOD se glasi RICE – rest, ice, compression, elevation.</p>
	</div>
{% endblock %}
