{% extends 'naloge/infotext_base.html' %}
{% load static %}
{% block content %}
	<div>
		<h3>Zastrupitve</h3>
		<p>Najpogostejše snovi, ki povzročijo zastrupitev: zdravila, alkohol in prepovedane droge, plini, pesticidi, predmeti splošne rabe (čistila, kozmetika), strupi strupenih rastlin, gob in živali.</p>
		<p><b>Prva pomoč</b></p>
		<ol>
			<li>Skrb za lastno varnost pri reševanju: zaščitne rokavice, maske, prezračevanje. Če zaradi nevarnosti ne moreš dostopati do poškodovanca, pokliči 112.</li>
			<li>Umakni poškodovanca iz zastrupljenega območja.</li>
			<li>Preveri, ali je oseba pri zavesti in ali diha.</li>
			<li>Klic na 112.</li>
			<li>Odstranjevanje strupa iz zastrupljenca (pri jedkovinah že pred klicem na 112).
			  <ul>
			    <li><b>Brez posveta z zdravnikom NE izzivaj bruhanja, NE redči strupa s pitjem vode in NE dajaj aktivnega oglja! Strupa NIKOLI NE izničuj s pitjem mleka, limoninega soka, kisa, soli ipd.</b></li>
			    <li>Zastrupitev z ogljikovim monoksidom: glavobol, zmedenost, težko dihanje, intenzivno roza sluznice. Prizadetega umaknemo na varno, pokličemo 112 in po potrebi izvajamo umetno dihanje.</li>
			    <li>Spiranje oči: pred spiranjem odstrani leče. Pazi, da strup pri spiranju ne teče v oko.</li>
			  </ul>
			</li>
			<li><b>Shrani embalažo ali vzorec strupa, če je to možno!</b></li>
			<li>Zastrupljenca čim prej odpelji k zdravniku.</li>
		</ol>
	</div>
{% endblock %}
