body, html {
	/* XXX: this should be a {% static %} block */
	background-image: url("background.png");
	height: 100%;
	background-repeat: repeat;
}

.logo {
	max-height: 190px;
}

.logo-small {
	max-height: 80px;
	 display: block;
     margin-left: auto;
}

.column {
	flex: 50%;
	padding: 0 4px 4px;
	margin: 0 auto;
}

.row {
	display: flex;
	padding: 0 4px 4px;
	margin: 0 auto;
}


/*	sol html */

.uradno, .odgbox {
	padding-left: 10px;
}

.pravilno {
	color: #0a0;
}

.narobe {
	color: #f44;
}

.poudarjeno {
	text-decoration: underline;
}
