{% extends 'common/base.html' %}
{% load static %}
{% block body %}
	  <script>0</script> <!-- needed because of some FOUC bug in Firefox -->
	  <div style="min-height: 60px"></div>
	<main class="container">
		<img src="{% static 'img/logo.png' %}" class="logo">
		<article>
			<h3>Dobrodošli na spletni strani dogodka Od srca do srca</h3>
			<div>
				<p>
				Taborniki Rodu Sivega volka smo med 26. 11. in 29. 12. 2023
				pripravili brezplačen vzgojno-izobraževalni dogodek <b>»Od srca do srca«</b>, ki udeležence popelje mimo AED postaj (avtomatskih
				eksternih defibrilatorjev) v Ljubljani ter tekom sprehoda po
				postajah širi znanje prve pomoči.
				</p>
				<p>
				Pot od srca do srca se je zaključila 29. 12. 2023.
				Za kakršnakoli vprašanja smo vam na voljo preko e-pošte na
				<a href="mailto:odsrcadosrca@rodsivegavolka.si">odsrcadosrca@rodsivegavolka.si</a>,
				</p>
				<p> Lep pozdrav, <br> Ekipa od srca do srca </p>
			</div>
		</article>
</main>
{% endblock %}
