{% extends 'common/base.html' %}
{% load static %}
{% block body %}
	  <script>0</script> <!-- needed because of some FOUC bug in Firefox -->
	  <div style="min-height: 60px"></div>
	<main class="container">
		<img src="{% static 'img/logo.png' %}" class="logo">
		<article>
			<div>
				<h2>Dobrodošli na spletni strani dogodka Od srca do srca</h2>
			</div>
		</article>
		<article>
			<h3> O dogodku </h3>
			<div>
				<p>
				Taborniki Rodu Sivega volka med <b>26. 11. in 29. 12. 2023</b>
				vabimo na brezplačen vzgojno-izobraževalni dogodek <b>»Od srca do srca«</b>, ki udeležence popelje mimo AED postaj (avtomatskih
				eksternih defibrilatorjev) v Ljubljani ter tekom sprehoda po
				postajah širi <b>znanje prve pomoči</b>.
				</p>
				<p>
				Dogodek je namenjen <b>vsem starostnim skupinam od 6. leta</b> dalje in poteka v
				obliki fotoorientacije - preprostega orientacijskega pohoda s pomočjo
				fotografij lokacij. Sprehod po vseh postajah traja <b>približno 2 uri</b>, lahko
				opravite tudi le del poti.
				</p>
				<p>
				Za kakršnakoli vprašanja smo vam na voljo preko e-pošte na
				<a href="mailto:odsrcadosrca@rodsivegavolka.si">odsrcadosrca@rodsivegavolka.si</a>,
				spremljate pa nas lahko tudi na družabnem omrežju Instagram
				<a href="https://instagram.com/od.srca_do.srca">@od.srca_do.srca</a>.
				</p>
			</div>
		</article>
		<article>
			<h3> Kako sodelovati? </h3>
			<div>
				<p>Za udeležbo potrebujete le mobilni telefon s skenerjem za QR kode, s
				katerim boste dostopali do navodil, ki vas bodo vodila skozi
				izkušnjo.</p>

				<p>
				V nadaljevanju si boste izbrali težavnostno kategorijo.
				Glede na izbrano vam bodo prikazane
				fotografije kontrolnih točk (lokacije, ki jih morate obiskati)
				- vsaka lokacija se nahaja pri javno dostopnem AEDju. Ko
				najdete lokacijo, poiščete in skenirajte QR kodo, ki se nahaja
				pod AEDjem.</p>

				<p>
				Prikazale se vam bodo teoretične osnove s posameznega področja
				prve pomoči, ki jih lahko preberete. Temu sledi naloga za
				ponovitev znanja, ki ste ga ravnokar pridobili/obnovili. Pot po
				progi lahko začnete na katerikoli točki (vrstni red ni
				pomemben) in jo lahko opravite tudi v več dneh; edina časovna
				omejitev je trajanje dogodka. Težavnostno kategorijo lahko
				kadarkoli zamenjate ter se preizkusite v obeh.
				</p>
				{% if is_started %}
					<a role=button href="{% url "ktlist" %}">Seznam točk</a>
					<a role=button href="{% url "group_selection" %}">Menjava skupine</a>
				{% else %}
					<a role=button href="{% url "register" %}">Začni</a>
				{% endif %}
			</div>
		</article>
</main>
{% endblock %}
