{% extends 'common/base.html' %}
{% load static %}
{% block body %}
	<div style="min-height: 60px"></div>
	<main class="container">
		<a href="/"><img src="{% static 'img/logo_small.png' %}" class="logo-small"></a>
		<article>
			<script> x=0; </script>
			<div>
				<div> <img src="{% static imgurl %}"></div>
				<p>QR kode se nahajajo pod AEDji. Prosimo vas, da jih od tam ne
				premikate. V primeru, da prispete na lokacijo in QR kode ne
				najdete oziroma je ni, pa nas kontaktirajte preko e-pošte na <a
				href="mailto:odsrcadosrca@rodsivegavolka.si">odsrcadosrca@rodsivegavolka.si</a></p>
				{% if done %} <p> <b>To točko si že obiskal</b> </p> {% endif %}
				<p id="tip"></p>
				<p id="location"></p>
			</div>
			<button id=btn onclick="if (!x) { document.getElementById('tip').innerHTML = '<b>Namig: </b>{{kt.tip}}'; x=1; document.getElementById('btn').innerHTML = 'Nisem našel, pokaži lokacijo';} else {  document.getElementById('location').innerHTML = '<b>Lokacija: </b>{{kt.location}}';  document.getElementById('btn').style.display= 'none';}">Pokaži namig</button>
		</article>
    </main>
{% endblock %}
{% block title %}
Podrobnosti točke - Od srca do srca
{% endblock %}
