{% extends 'common/base.html' %}
{% load static %}
{% block body %}
	<div style="min-height: 60px"></div>
	<main class="container">
		<a href="/"><img src="{% static 'img/logo_small.png' %}" class="logo-small"></a>
		<article>
			<div>
				<h3> Izberi kontrolno točko: </h3>
				<div class="grid">
				{% for kt0,kt1 in kts %}
					<div class="row">
						<div class="column"> <a href="{{kt0.url}}"><img width=120 height=160 src="{% static kt0.imgurl %}"></a></div>
						<div class="column"> <a href="{{kt1.url}}"><img width=120 height=160 src="{% static kt1.imgurl %}"></a></div>
					</div>
				{% endfor %}
				{% if obv0 %}
					<div class="row">
						<div class="column"> <a href="{{obv0.url}}"><img width=120 height=160 src="{% static obv0.imgurl %}"></a></div>
						<div class="column"> <a href="{{obv1.url}}"><img width=120 height=160 src="{% static obv1.imgurl %}"></a></div>
					</div>
				{% endif %}
				</div>
				<div class="grid">
					<div class="row">
					<div class="column"> <a href="{{last.url}}"><img width=120 height=160 src="{% static last.imgurl %}"></a></div>
				</div>
			</div>
		</article>
    </main>
{% endblock %}
{% block title %}
Seznam točk - Od srca do srca
{% endblock %}
