{% extends 'common/base.html' %}
{% load static %}
{% block body %}
	<div style="min-height: 60px"></div>
	<main class="container">
		<a href="/"><img src="{% static 'img/logo_small.png' %}" class="logo-small"></a>
		<article>
			<div>
				<h3> Izberi kontrolno točko: </h3>
				<div class="grid">
				{% for kt0,kt1 in kts %}
					<div class="row">
						<div class="column">
							<a href="{{kt0.url}}">
								{% if not kt0.done %}
									<img width=120 height=160 src="{% static kt0.imgurl %}">
								{% else %}
									<img style="opacity:0.3;" width=120 height=160 src="{% static kt0.imgurl %}">
								{% endif %}
							</a>
						</div>
						<div class="column">
							<a href="{{kt1.url}}">
								{% if not kt1.done %}
									<img width=120 height=160 src="{% static kt1.imgurl %}">
								{% else %}
									<img style="opacity:0.3;" width=120 height=160 src="{% static kt1.imgurl %}">
								{% endif %}
							</a>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="grid">
					<div class="row">
						<div class="column">
							<a href="{{last.url}}">
								{% if not last.done %}
									<img width=120 height=160 src="{% static last.imgurl %}">
								{% else %}
									<img style="opacity:0.3;" width=120 height=160 src="{% static last.imgurl %}">
								{% endif %}
							</a>
						</div>
					</div>
				</div>
			</div>
		</article>
    </main>
{% endblock %}
{% block title %}
Seznam točk - Od srca do srca
{% endblock %}
