{% extends 'common/base.html' %}
{% load static %}
{% block body %}
	<div style="min-height: 60px"></div>
	<main class="container">
		<a href="/"><img src="{% static 'img/logo_small.png' %}" class="logo-small"></a>
		<article>
			TODO text
			<form method="post">
				{% csrf_token %}
				<p>{{form.email.label_tag}}: {{form.email}}</p>
				<p>{{form.group.label_tag}}: {{form.group}}</p>
				<p>{{form.startost.label_tag}}: {{form.starost}}</p>
				<input type="submit" value="Shrani">
			</form>
		</article>
    </main>
{% endblock %}
{% block title %}
Podrobnosti točke - Od srca do srca
{% endblock %}
